// Override booststrap variables
$navbar-nav-link-padding-x: 1.05rem;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

:root {
	--app-text-light: #458285;
	--app-text-dark: #08595D;
	--app-font-family: 'Poppins', sans-serif;
	--bs-btn-active-color: red !important;
}

body {
	font-family: var(--app-font-family);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #08595D;
    --bs-btn-border-color: #08595D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #023133;
    --bs-btn-hover-border-color: #000d0e;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000d0e;
    --bs-btn-active-border-color: #000d0e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #08595D;
    --bs-btn-disabled-border-color: #08595D;
}

.btn-outline-primary {
    --bs-btn-color: #08595D;
    --bs-btn-border-color: #08595D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #08595D;
    --bs-btn-hover-border-color: #08595D;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #08595D;
    --bs-btn-active-border-color: #08595D;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #08595D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #08595D;
    --bs-gradient: none;
}

.btn-check:checked + .btn, 
:not(.btn-check) + .btn:active, 
.btn:first-child:active, 
.btn.active, 
.btn.show {
    color: #ffffff;
    background-color: #023133;
    border-color: #000d0e;
}

.btn:hover {
    color: #ffffff;
    background-color: #023133;
    border-color: #000d0e;
}

/**
 * COMPONENTS
 */
.section-title {
	border-bottom: 3px solid #FF9B00;
}

/**
 * NAVBAR
 */
.nav-underline {
	--bs-nav-underline-border-width: 3px;
	--bs-nav-underline-link-active-color: var(--app-text-light);
}

.navbar {
	padding-top: 40px;
	-webkit-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	transition: all 150ms linear;

	.navbar-brand img {
		-webkit-transition: all 150ms linear;
		-ms-transition: all 150ms linear;
		transition: all 150ms linear;
	}

	&.sticky {
		padding-top: 10px;
		background-color: #ffffff;
		box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);

		.navbar-brand img {
			max-width: 78px;
		}
	}
}

.navbar-nav {
	--bs-nav-link-color: @apply text-neutral-950;
	padding-left: 20px;

	.nav-link {
		font-size: 14px;
	}
}

.navbar-brand {
	img {
		max-width: 100px;
	}
}

.navbar-open {
	.navbar {
		background-color: #ffffff;
		box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);
	}
}

/**
 * MAIN HERO
 */
.main-hero {
	height: 650px;

	.site-name {
		font-size: 27px;
		color: var(--app-text-light);
	}

	.title {
		color: var(--app-text-dark);
		position: relative;
	}

	.summary {
		font-size: 18px;
		position: relative;
	}

	&.plain-bg video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.7;
	}
	
}

/**
 * OFFER
 */
.offer {
	margin-top: -100px;

	.inner {
		background-color: rgba(255, 255, 255, .75);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
	}

	.icon {
		width: 50px;
		flex: none;
	}

	.title {
		color: var(--app-text-dark);
	}

	[class^="col-"]:not(:last-child) {
		border-right: 1px solid #B5B5B5;
	}
}

/**
 * VACANCY
 */
.vacancy {
	.flag-tabs {
		.icon {
			width: 30px;
		}

		.text {
			color: #8B8B8B;
			font-size: 13px;
			padding-bottom: 5px;
		}

		.nav {
			gap: 1.75rem;

			&::after {
				content: "";
				display: block;
				position: absolute;
				height: 3px;
				background-color: #EFEFEF;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}

		.nav-item {
			position: relative;
			z-index: 10;
		}

		.nav-link {
			height: 50px;
			display: flex;
			align-items: center;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

.base-slider {
	--swiper-navigation-size: 20px;
	--swiper-navigation-sides-offset: 0;
	--swiper-scrollbar-size: 7px;
	--swiper-scrollbar-bg-color: rgba(0, 0, 0, .05);
	--swiper-scrollbar-drag-bg-color: var(--app-text-light);

	margin-left: calc(-1rem + -0.5rem) !important;
	margin-right: calc(-1rem + -0.5rem) !important;

	.navigation {
		color: var(--app-text-light);

		.swiper-button-disabled {
			color: #D9D9D9 !important;
		}
	}
}

.vacancy-item {
	border: 0;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

	.card-title {
		font-size: 15px;	
	}

	.card-subtitle {
		font-size: 14px;
		color: var(--app-text-dark);
	}

	.card-text {
		font-size: 14px;
	}

	.card-action {
		.btn {
			font-size: 12px;
		}
	}
}

/**
 * TESTIMONY
 */
.testimony-item {
	.avatar {
		flex: none;
		width: 120px;
		height: 120px;

		&::before {
			content: "";
			background-color: var(--app-text-light);
			position: absolute;
			top: -3px;
			left: -7px;
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
	}

	.summary {
		font-size: 14px;
	}

	.name {
		color: var(--app-text-dark);
	}

	.position {
		font-size: 13px;
		color: var(--app-text-light);
	}
}

/**
 * SUBSCRIBE
 */
.subscribe {
	background-color: #EEE8D2;

	.btn {
		font-size: 14px;
	}

	.summary {
		font-size: 15px;
	}
}

/**
 * BODY
 */
body {
	&::before {
		content: "";
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .35);
		z-index: 999999;
	}

	&.highlight-subscription {
		.subscribe,
		.footer {
			position: relative;
			z-index: 99999999;
		}

		&::before {
			display: block;
		}
	}
}

/**
 * FOOTER
 */
.footer {
	background-color: var(--app-text-dark);

	.menu-block {
		.title {
			font-size: 14px;
		}

		.summary,
		a {
			font-size: 12px;
		}

		ul > li + li {
			margin-top: 4px;
		}
	}

	.credit {
		border-top: 1px solid rgba(255, 255, 255, .45);
		font-size: 12px;
	}

	.icon {
		flex: none;
		width: 30px;
	}
}

/**
 * FAQ
 */
.faq {
	font-size: 14px;

	.title {
		color: var(--app-text-light);
	}

	.accordion-button {
		outline: none !important;
		padding-left: 0;
		padding-right: 0;
		font-weight: 600;
		font-size: 14px;

		&:focus {
			border-width: 0;
			box-shadow: none;
		}

		&:not(.collapsed) {
			background: none !important;

			&::after {
				background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-dash-lg%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M2%208a.5.5%200%200%201%20.5-.5h11a.5.5%200%200%201%200%201h-11A.5.5%200%200%201%202%208Z%22%2F%3E%0A%3C%2Fsvg%3E");
			}
		}

		&::after {
			background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-plus-lg%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M8%202a.5.5%200%200%201%20.5.5v5h5a.5.5%200%200%201%200%201h-5v5a.5.5%200%200%201-1%200v-5h-5a.5.5%200%200%201%200-1h5v-5A.5.5%200%200%201%208%202Z%22%2F%3E%0A%3C%2Fsvg%3E");
		}
	}

	.accordion-body {
		padding-top: 10px;
		padding-left: 0;
		padding-right: 0;
		font-size: 14px;
	}
}

/**
 * CLIENT
 */
.client {
	.ratio {
		margin-bottom: 8px;
	}

	.inner {
		img {
			object-fit: cover;
		}
	}

	.summary {
		font-size: 14px;
	}
}

/**
 * GALLERY
 */
.gallery {
	.separator > [class^="col-"]:first-child {
		border-right: 1px solid #B5B5B5;
	}

	.subtitle {
		color: var(--app-text-light);
	}

	.summary {
		font-size: 14px;
	}

	.pictures {
		.featured {
			img {
				border-radius: 15px;
				object-fit: cover;
			}
		}

		.childs {
			img {
				border-radius: 10px;
				object-fit: cover;
			}
		}
	}
}

/**
 * REGISTER BUTTON
 */
.register-button {
	top: 50%;
	z-index: 99999;
	right: -10px !important;

	a {
		background-color: #D11C24;
		rotate: -90deg;
		margin-right: -20px;
		padding: 5px 15px;
		text-decoration: none;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		font-size: 15px;
		box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
	}
}

/**
 * FIELDSET
 */
.fieldset {
	background-color: #F6F6F6;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);

	> .title {
		background-color: var(--app-text-dark);
		line-height: 1.3;
		top: -18px;
	}
}

/**
 * ENROLLED
 */
.enroll-items {
	.item {
		.icon {
			width: 80px;
		}

		.summary,
		.requirement {
			font-size: 14px;
		}

		.title,
		.requirement {
			color: var(--app-text-dark);
		}

		.title {
			margin-bottom: 2px;
		}
		
		.action {
			> button {
				font-size: 13px;
			
				&.active {
					background-color: #458285;
				}
			}
		}
	}

	> div[class^="col-"]:first-child {
		border-right: 1px solid var(--app-text-dark);
	}
}

/**
 * BREAKPOINTS
 */
.container {
	max-width: 1100px;
}

/**
 * FLOW PROCESS
 */
.flow-process {
	.item {
		background-color: #0D4749;
		min-height: 225px;

		.title {
			font-size: 11px;
		}

		.icon {
			img {
				width: 60px;
				height: auto;
			}
		}
	}

	// div[class^="col-"] {
	// 	margin-bottom: 45px;
	// }

	.note {
		left: 242px;
		right: 16px;
		bottom: 5px;
		height: 242px;
	}
}

@media (max-width: 768px) {
	.enroll-items {
		> div[class^="col-"]:first-child {
			border-right: 0;
		}

		> div[class^="col-"] + div[class^="col-"] {
			margin-top: 20px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: none !important;
	}

	.base-slider {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.offer {
		[class^="col-"]:not(:last-child) {
			border-right: 0;
		}

		[class^="col-"] + [class^="col-"] {
			margin-top: 25px;
		}

		.summary {
			margin-bottom: 0;
		}
	}

	.gallery {
		.pe-4 {
			padding-right: 0 !important;
		}

		.ps-4 {
			padding-left: 0 !important;
		}

		.separator > [class^="col-"]:first-child {
			border-right: 0;
		}
	}

	.navbar-collapse {
		.navbar-nav {
			padding-top: 10px;
		}
	}

	.navbar-nav {
		padding-left: 10px !important;
	}

	.navbar-brand img {
		max-width: 55px;
	}
}